<div class="container">

  <div class="input-field">
    <i class="material-icons prefix">rss_feed</i>
    <input id="icon_prefix" (keyup.enter)="add(input)" #input placeholder="Add Item..">
  </div>

  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Livefeed</h4>
    </li>
    <li class="collection-item" *ngFor="let item of items$ | async; trackBy: track">
      <div [class.done]="item.completed">{{item.name}}
        <span class="secondary-content" (click)="remove(item.id)">
          <i class="material-icons">delete_forever</i>
        </span>
        <span class="secondary-content" (click)="toggle(item.id)">
          <i class="material-icons">done</i>
        </span>
        <span class="secondary-content">&nbsp; : &nbsp;</span>
        <span class="secondary-content">
          {{item.gate}}
        </span>
        <span class="secondary-content">&nbsp; - &nbsp;</span>
        <span class="secondary-content">
          {{item.distinction}}
        </span>
      </div>
    </li>
  </ul>

</div>